#photoShowSlider{
    #photoShow {
        height:400px;
        width:100%;
        div {
            position:absolute;
            z-index: 0;
            width: 100%;
            height: 400px;
            margin: 0 auto;
            left: 0;
            right: 0;
            background-position: center center;
            background-repeat: no-repeat;;
            background-size: contain;
            background-color: $bgColor;
            &.previous {
                z-index: 1;
            }
            &.current {
                z-index: 2;
            }
        }
    }
    #photoShowButtons{
        overflow: hidden;
        #prevbtn, #nextbtn{
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border:1px solid black;
            color: #fff;
            font-style: bold;
            font-size: 14px;
        }
        #prevbtn{
            float: left;
        }
        #nextbtn{
            float: right;
        }
    }
}